html {
	background: #fff;

}

body {
	max-width: 1200px;
	background: #fff;
	border: 5px ridge black;
	margin: 2rem auto;
	font-family: system-ui, sans-serif;
	line-height: 1.6;
	padding: 1rem;
}

h1, h2 {
	border-bottom: 1px solid #ddd;
}

h3 {
	border-bottom: 2px solid black;
	padding-bottom: 0.25rem;

}

a {
	color: #0056b3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

section {
	border-bottom-color: black;
	border-bottom-width: 3px;
	border-bottom-style: groove;
	padding-bottom: 4rem;

}

ul {
	list-style-type: square;

}

.navbar {
	display: flex;
	border: 3px solid black;
	padding: 0.25rem 1rem;
	align-items: center;
	justify-content: space-between;
	margin: 2rem 0.5rem;

}

.nav_links {
	display: flex;
	gap: 1.5rem;
	list-style: none;
	margin: 0;
	padding: 0;

}

.nav_links a {
	text-decoration: none;
	font-size: 20px;
	color: #222;
}

.nav_links a:hover {
	text-decoration: underline;
}



.hero_section {
	display: flex;
	flex-wrap: wrap;
	gap: 10%;

}

.hero_section > :first-child {
	flex: 0 0 60%;

}

.hero_section > :last-child {
	flex: 0 0 30%;

}

.resume_btn {
	max-width: 30%;
	padding: 0.75rem 1rem;
	border: 3px solid black;
	box-shadow: 5px 10px black;
	text-wrap: wrap;

}

.resume_btn a {
	margin-left: 0.5rem;
	color: black;

}

.resume_btn a:hover {
	text-decoration: underline;
	color: blue;

}

.project_section {
	width: auto;

}

.project_card_cont {
	display: flex;
	flex-wrap: wrap;

}

.project_card_cont_content {
	display: flex;
	flex-wrap: nowrap;
	gap: 5%;

}

.project_card_cont_content > :first-child {
	flex: 0 0 30%;

}

.project_card_cont_content > :last-child {
	flex: 0 0 65%;

}

.project_card_cont_content img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;

}

.project_skill_cont {
	border: 1px dashed grey;
	padding: 0rem 1rem;

}

.project_skill_cont > div {
	display: flex;
	gap: 1rem;

}

.project_skill_cont > div > p {
	width: fit-content;
	height: fit-content;
	border: 2px ridge rgb(128, 128, 128);
	border-radius: 5px;
	background-color: rgb(128, 128, 128, 0.15);
	padding: 0.25rem 0.5rem;

}

.project_link_cont {
	display: flex;
	gap: 5%;
	padding: 2rem 0rem;

}

.project_link_cont a {
	width: fit-content;
	height: fit-content;
	border: 2px solid blue;
	border-radius: 5px;
	background-color: rgb(128, 128, 128, 0.15);
	padding: 0.5rem 1rem;

}


.project_card {
	border: 3px solid grey;
	padding: 5px 20px;
	margin: 3rem 0rem;

}

.main_photo {
	width: 300px;
	height: auto;
	border: 3px ridge black;
	box-shadow: 5px 10px 5px grey;
	margin-top: 3em;

}

/* This section will be readded once the Project page is completed.
.project_page_link_main {
	display: flex;
	align-items: center;
	justify-content: center;

}

.project_page_link_main div {
	text-align: center;
	line-height: 0.25;
	padding: 1rem 0.5rem;
	border: 3px solid black;
	transition: translate 1s;

}

.project_page_link_main div:hover {
	translate: 0px 20px;
	text-align: center;
	line-height: 0.25;
	padding: 1rem 0.5rem;
	border: 3px solid black;

}
*/

.placard_cont {
	line-height: 2;
	font-size: large;

}

/* Deprecated
.placard_cont p {
	width: fit-content;
	height: fit-content;
	border: 2px ridge rgb(128, 128, 128);
	border-radius: 5px;
	background-color: rgb(128, 128, 128, 0.15);
	padding: 0.25rem 0.5rem;

}
*/

.social_links {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 2rem;
	padding: 2rem 0rem;

}

.social_links a {
	color: #333;
	font-size: 3rem;
	transition: color 0.2s ease, transform 0.2s ease;
}

.social_links a:hover {
	color: #0077ff;
	transform: translateY(-2px);
}

/* Mobile Screen */
@media screen and (max-width: 768px) {
	body {
		background: #fff;
		border: 5px ridge black;
		font-family: system-ui, sans-serif;
		line-height: 1.6;

	}

	.project_card {
		border: 3px solid grey;
		padding: 5px 20px;
		margin: 1rem 1rem;

	}
	.project_card_cont_content {
		display: block;
	}

	.project_card_cont_content > :first-child {
		width: 100%

	}

	.project_card_cont_content > :last-child {
		width: 100%

	}

	.hero_section {
		display: block;
		justify-content: center;

	}

	.hero_section > :first-child {
		width: 100%;

	}

	.hero_section > :last-child {
		width: 100%;

	}

	.resume_btn {
		max-width: 70%;
		text-wrap: nowrap;
		text-align: center;
		padding: 0.25rem;

	}

	.placard_cont {
		line-height: 1.5;

	}

	.social_links {
		padding: 0rem;

	}

}


